<script src="http://www.webglearth.com/api.js"></script>
<script>
  function initialize() {
    var options = {
        zoom: {{webgl.zoom}},
        position: [{{webgl.center.0}}, {{webgl.center.1}}],
        atmosphere: {{webgl.atmosphere}},
        map: {{webgl.map_type}}
    };
    var earth = new WebGLEarth('earth_div', options);

    {% for marker in webgl.markers %}
        var lat = {{marker.lat}};
        var lng = {{marker.lng}};
        var marker_{{loop.counter}} = earth.initMarker(lat, lng);
        marker_{{loop.counter}}.bindPopup('{{marker.info_window}}');
    {% endfor %}

    {% for polygon in webgl.polygons %}
        var polygon_{{loop.counter}} = new WebGLEarth.Polygon(earth);

        {% for coordinate in polygon.coordinates %}
            var lat = {{coordinate.0}};
            var lng = {{coordinate.1}};
            polygon_{{loop.counter}}.addPoint(lat, lng);
        {% endfor %}

        var fillColor = '{{polygon.fill_color}}';
        var fillOpacity = {{polygon.fill_opacity}};
        polygon_{{loop.counter}}.setFillColor(fillColor, fillOpacity);
        polygon_{{loop.counter}}.disableClickToAdd();
        polygon_{{loop.counter}}.showDraggers(false);
    {% endfor %}
  }
</script>