<script src="http://www.webglearth.com/api.js"></script>
<script>
  function initialize() {
    var options = {
        zoom: {{webgl.zoom}},
        position: [{{webgl.center.0}}, {{webgl.center.1}}],
        atmosphere: {{webgl.atmosphere}},
        map: {{webgl.map_type}}
    };
    var earth = new WebGLEarth('earth_div', options);

    {% for marker in webgl.markers %}
        var lat = {{marker.lat}};
        var lng = {{marker.lng}};
        var marker_{{loop.counter}} = earth.initMarker(lat, lng);
        marker_{{loop.counter}}.bindPopup('{{marker.info_window}}');
    {% endfor %}
  }
</script>